<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>口コミ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>訪れた場所の口コミ一覧</h1>

        <!-- ユーザーの口コミ評価一覧 -->
        <h2>口コミ一覧</h2>
        {% if response %}
        <table>
            <thead>
                <tr>
                    <th>画像</th>
                    <th>訪れた場所</th>
                    <th>投稿主</th>
                    <th>旅ブログ名</th>
                </tr>
            </thead>
            <tbody>
                {% for response in response %}
                <tr>
                    <td>{{ response[3] }}</td>
                    <td>{{ response[3] }}</td>
                    <td>{{ response[3] }}</td>
                    <td>{{ response[3] }}</td>
                    <td>{{ response[3] }}</td>
                    <td>
                        {% if response[1] %}
                        <img src="{{ url_for('static', filename=response[1].split('static/')[1]) }}" alt="Review Image" width="100">
                        {% else %}
                        画像なし
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>まだ口コミがありません。</p>
        {% endif %}
        <div class="actions">
            <a href="{{ url_for('reviews.add_review') }}" class="btn">新しい口コミを書く</a> 
            <a href="{{ url_for('reviews.profile') }}" class="btn">自分の口コミに戻る</a>
            <a href="{{ url_for('auth.login') }}" class="btn logout-btn">ログイン</a>
        </div>
    </div>
</body>
</html>